body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Great Vibes", sans-serif;
  font-size: 80px;
  color: #fe6508;
}

h2 {
  font-size: 50px;
  font-weight: 200;
  text-transform: uppercase;
}

h3 {
  font-weight: 200;
  text-transform: uppercase;
}

h4 {
  color: #fe6508;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 20px;
}

.bigheading > h1 {
  margin-bottom: -13px !important;
}

h1 span {
  color: #ffffff;
  font-size: 60px;
}

h1 > .internaltext {
  font-family: "Poppins", sans-serif;
  color: #b8b6b6;
  font-weight: 100 !important;
  font-size: 30px;
  text-transform: uppercase;
}
p {
  color: #b8b6b6;
}

.bigheading p {
  font-size: 40px;
  color: #d8d8d8;
  font-family: "Great Vibes", sans-serif;
  margin-bottom: -35px;
}

.button.navbar-toggler.collapsed {
  border: 2px solid white;
}

span.logosize img {
  width: 200px;
}

.navbar-toggler {
  border: 2px solid #ffffff;
}

a.nav-item:hover,
a.nav-item.nav-link.active {
  color: #fe6508;
}

a.nav-item {
  color: #949494;
}

a.nav-item:hover,
a.nav-item.nav-link.active {
  display: inline-block;
}

footer .nav-link {
  display: block;
  padding: 0;
}

.rowbg {
  background-size: cover;
  background-image: url("../img/Beauty.png");
  height: 100px;
}

.myimg img:hover {
  background-color: #fe6508;
  border-radius: 100%;
  background-size: contain;
  opacity: 1;
}

/* about */

.bg2 {
  background-color: rgb(27, 27, 27);
}

.textPad {
  padding: 0px 180px;
}

/* Hero Carousel */

.hidden {
  display: none;
}

.video-container {
  position: fixed;
  right: 0px;
  bottom: 0px;
  min-width: 100vw;
  min-height: 100vh;
  height: 100vh;
}

.about {
  padding: 100px 0px;
}

.portfolio {
  padding: 100px 0px;
}

.carouselbg > * {
  padding: 0px;
}

.carousel-item img {
  height: auto;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 44%;
  background: rgb(0 0 0 / 50%);
  top: 35%;
}

.bg1 {
  background-image: url("../img/beauty.jpg") !important;
  background-repeat: repeat;
  background-size: contain;
}

/* Three block #services  */
.fadeInUp {
  visibility: visible;
  animation-delay: 0.2s;
  animation-name: fadeInUp;
}

.fontstyle {
  color: #d8d8d8;
}

.box {
  padding: 50px 20px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  height: 250px;
  position: relative;
  background: #fafafa;
}

.txtstyle {
  font-size: 65px;

  line-height: 66px;
  padding-top: 7px;
  font-family: "Great Vibes", sans-serif;
}

/* videos */

.play-btn {
  width: 100px;
  position: relative;
  top: -50%;
  cursor: pointer;
  transition: 0.5s;
}

.modal-content {
  border: none;
  background: transparent !important;
}

.modal-dialog {
  top: 20%;
}

/* Btn Style */

.btntop {
  margin-top: 5% !important;
}

.btn-style {
  display: inline-block;
  text-align: center;
  color: #fff;
  background-color: #fe6508;
  border: 1px solid #fe6508;
  border-color: none;

  text-transform: uppercase;
  padding: 10px 45px;
  font-size: 16px;
  border-radius: 0px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-style:hover {
  color: #fe6508;
  background-color: #000000;
  border: 1px solid #545250;
}

/* Footer */

.footer-style {
  /* background: #000000; */
  padding: 0px 0px;
}

.footericon {
  font-size: 20px;
  padding-right: 10px;
  padding-top: 0px;
}

/* back to top */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #fe6508;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/* back to top ends */

/* footer snippet */

.footer-clean {
  padding: 50px 0;
  background-color: rgb(0, 0, 0);
  color: #e9e9e9;
}

.footer-clean a:hover {
  color: #fe6508;
}

.footer-clean h3 {
  margin-top: 0;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 16px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 2;
  font-size: 16px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: right;
}

/* Contact */

.form-control {
  color: #ffffff;
  display: block;
  width: 100%;
  /* background-color: rgb(255 255 255 / 0%); */

  background-color: #ffffff;

  background-clip: padding-box;
  border: 1px solid #6a6b6c;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
}

.form-control:focus {
  color: #ffffff;
  background-color: #ffffff;
}

::-webkit-input-placeholder {
  color: #afafaf;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #afafaf;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #afafaf;
}

:-ms-input-placeholder {
  color: #afafaf;
}

.iconstyle {
  color: #fe6508;
  font-size: 25px;
  background-color: #fff;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.fa-phone:before,
.fa-envelope:before {
  line-height: 2;
}

.linkstyle a {
  color: #ffffff;
  text-decoration: none;
  border: none;
}

.linkstyle a:hover {
  color: #fe6508;
  text-decoration: none;
  border: none;
}

/* contact End */

/* 1024 Media Query */

@media (max-width: 1024px) {
  .textPad {
    padding: 0px;
  }
}

@media (max-width: 767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .textPad {
    padding: 0px;
  }

  .about {
    padding: 15px 0px 35px !important;
  }
  .about2 {
    padding: 15px 0px 0px !important;
  }

  .footer-style {
    /* background: #000000; */
    padding: 30px 0px;
  }

  .footer-clean ul {
    font-size: 13px;
  }

  .footer-clean .item.social {
    text-align: center;
  }

  .hidden {
    display: block;
  }

  .hide {
    display: none;
  }

  .txtstyle {
    font-size: 41px;
    line-height: 46px;
  }

  h1 {
    font-family: "Great Vibes", sans-serif;
    font-size: 30px;
    color: #fe6508;
    line-height: 3;
  }

  h1 > .internaltext {
    font-family: "Poppins", sans-serif;
    color: #b8b6b6;
    font-weight: 100 !important;
    font-size: 18px;
    text-transform: uppercase;
  }

  h1 span {
    color: #ffffff;
    font-size: 30px;
  }

  .about {
    padding: 50px 0px;
  }

  .portfolio {
    padding: 50px 0px;
  }

  .footer-clean {
    padding: 0px;
  }

  .navbar-toggler {
    border: 1px solid #ffffff;
  }

  .navbar-toggler {
    padding: 5px;
    font-size: 13px;
  }

  i.fa.fa-navicon {
    font-size: 20px !important;
  }
  span.logosize img {
    width: 150px;
  }
}

.footer-clean .item.social > a {
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: #fe6508;

  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  color: inherit;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}

/* snippet ends */

@media only screen and (min-width: 768px) {
  .video-container {
    width: 100vw;
    height: auto;
  }
}

/* sample contact code start */

.gradient-brand-color {
  color: #fff;
}
.contact-info__wrapper {
  overflow: hidden;
  border-radius: 0.625rem 0.625rem 0 0;
}

@media (min-width: 1024px) {
  .contact-info__wrapper {
    border-radius: 0 0.625rem 0.625rem 0;
    padding: 5rem !important;
  }
}
.contact-info__list span.position-absolute {
  left: 0;
}
.z-index-101 {
  z-index: 101;
}
.list-style--none {
  list-style: none;
}
.contact__wrapper {
  background-color: #fff;
  border-radius: 0 0 0.625rem 0.625rem;
}

@media (min-width: 1024px) {
  .contact__wrapper {
    border-radius: 0.625rem 0 0.625rem 0.625rem;
  }
}
@media (min-width: 1024px) {
  .contact-form__wrapper {
    padding: 5rem !important;
  }
}
.shadow-lg,
.shadow-lg--on-hover:hover {
  box-shadow: 0 1rem 3rem rgba(132, 138, 163, 0.1) !important;
}
/* sample code ends */
